*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li,ul{
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}
.container{
    max-width: 90% ;
    margin: 20px auto;
}
.listPost{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.post{
    width: 32%;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.459);
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 0 ; 
}
.info{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 5px;
}
button{
    width: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 5px;
    color: white;
    background-color: crimson;
    margin: 10px 0;
    border-radius: 5px;
}
a{
    color: white;
    text-decoration: none;
}
.heart{
    color: darkred;
}
.postcom{
    width: 50%; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.comment{
    padding: 10px;
    margin: 20px;
}
